<form method="post" class="{{ macros::form_css() }}">
  {{ macros::input(label="Name") }}
  <label class="block mb-4 w-full">
    Status
    <select name="status" class="block w-full">
      {%- include "games/status_opts" %}
    </select>
  </label>
  {{ macros::submit() }}
</form>