{% extends "base" %}
{% block title %}Games{% endblock title %}
{% block content %}
    {%- if admin -%}
      {% include "games/admin" %}
    {%- endif %}
    {%- include "games/list" %}
{% endblock content %}
