{% extends "base" %}

{% block title %}Login{% endblock title %}

{% block content %}
{%- if failed %}
<p class="m-4 mb-0 p-2 bg-red-400/50 font-bold text-md text-center">Wrong username or password.</p>
{%- endif %}
{{ macros::form(inputs=["Username", "Password"], solo=true)}}
{% endblock content %}