{% extends "base" %}

{% block title %}Register{% endblock title %}

{% block content %}
{{ macros::header(text="Register") }}
{{ macros::form(inputs=["Username", "Password"], solo=true)}}
{% endblock content %}