<nav class="flex items-center justify-center shadow-md mb-12">
  <div class="mx-auto w-auto p-4 font-bold">
    {{ macros::nav_link(to="/", text="Home") }}
    {{ macros::nav_link(to="/songs", text="Songs") }}
    {{ macros::nav_link(to="/games", text="Games") }}
    {%- if not admin %}
    {{ macros::nav_link(to="/login", text="Login") }}
    {%- endif %}
  </div>
</nav>