{% for song in songs %}
<tr class="even:bg-white odd:bg-slate-100">
  <td class="p-2">{{ song.artist }}</td>
  <td class="p-2">{{ song.title }}</td>
  <td class="p-2">{{ song.year }}</td>
</tr>
{%- endfor %}